:root {
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate--300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 100%);

  --clr-primary: var(--cyan-600);
  --clr-primary-light: var(--cyan-300);
  --clr-secondary: var(--purple-600);
  --clr-secondary-light: var(--purple-300);

  --clr-title: var(--slate-900);
  --clr-text: var(--slate-600);

  --clr-footer: var(--white);
  --clr-btn-primary: var(--clr-primary);
  --clr-btn-secondary: var(--clr-secondary);
  --clr-btn-primary-hover: hsl(192, 54%, 64%);
  --clr-btn-secondary-hover: hsl(268, 55%, 71%);

  --clr-bg-body: var(--white);
  --clr-bg-footer: var(--cyan-300);

  --font-family: 'Red Hat Display', sans-serif;

  --font-size-xlg: 4rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.125rem;
  --font-size-sm: 1rem;

  --font-size-tb-xlg: 3rem;
  --font-size-tb-lg: 2.25rem;
  --font-size-tb-md: 1.125rem;

  --font-size-mb-xlg: 2.5rem;
  --font-size-mb-lg: 2rem;
  --font-size-mb-md: 0.75rem;

  --font-weight-medium: 500;
  --font-weight-black: 900;

  --line-height-tight: 1.1;
  --line-height-relaxed: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-top: 48px;
  text-align: center;
  max-width: 100vw;
  font-family: var(--font-family);
}

.site__logo {
  margin: 0 auto;
  display: block;
  width: 118px;
  height: 28px;
}

.hero-cta {
  padding: 32px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  color: var(--clr-title);
  font-size: var(--font-size-mb-xlg);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-tight);
}

.hero__text {
  color: var(--clr-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-tight);
}

.hero__img--mobile {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.hero__img--mobile img {
  width: 100%;
  object-fit: cover;
}

.hero__img--left,
.hero__img--right {
  display: none;
}

.hero__content {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 540px;
}

.btn {
  border: none;
  border-radius: 29px;
  padding: 16px 40px;
  color: var(--white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-relaxed);
  font-family: var(--font-family);
  white-space: nowrap;
  flex-shrink: 0;
  transition: background-color 0.5s ease;
}

.btn--primary {
  background-color: var(--clr-btn-primary);
}

.btn--secondary,
.btn--tertiary {
  background-color: var(--clr-btn-secondary);
}
.btn--primary .btn__version {
  color: var(--clr-primary-light);
}
.btn--tertiary .btn__version {
  color: var(--clr-secondary-light);
}
.hero__btn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 32px 32px 64px;
}

.main__img {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 16px;
}

.main__img img {
  width: 100%;
  border-radius: 8px;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 540px;
}

.main__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main__title {
  color: var(--clr-title);
  font-size: var(--font-size-mb-lg);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-tight);
}

.main__subtitle {
  color: var(--clr-primary);
  font-size: var(--font-size-mb-md);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-tight);
  letter-spacing: 4px;
}

.main__text {
  color: var(--clr-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-tight);
}

.separator {
  position: relative;
  width: 56px;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  z-index: 10;
}

.separator::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 84px;
  background-color: var(--slate--300);
}

.separator__number {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--slate--300);
  background-color: var(--white);
  color: var(--clr-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-tight);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.footer-cta {
  position: relative;
  width: 100%;
  height: 482px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(assets/mobile/image-footer.jpg);
  background-size: 100% 374px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: var(--clr-bg-body);
}

.footer-cta::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 374px;
  background-color: var(--clr-primary);
  z-index: 1;
  opacity: 0.9;
}

.footer__hero {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: var(--white);
  position: absolute;
  z-index: 2;
  max-width: 540px;
}

.separator--footer {
  position: absolute;
  top: -28px;
  transform: translateY(18%);
  color: var(--slate--600);
}

.footer__title {
  color: var(--white);
  font-size: var(--font-size-mb-lg);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-tight);
  max-width: 350px;
}

.footer__text {
  color: var(--white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-relaxed);
  max-width: 540px;
  white-space: normal;
  word-wrap: break-word;
}

.btn--primary:hover {
  background-color: var(--clr-btn-primary-hover);
}
.btn--secondary:hover,
.btn--tertiary:hover {
  background-color: var(--clr-btn-secondary-hover);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero-cta {
    padding: 64px 32px;
  }
  .hero__content {
    padding-top: 72px;
  }
  .hero__title {
    font-size: var(--font-size-tb-xlg);
  }
  .hero__btn {
    flex-direction: row;
  }
  .main-cta {
    padding: 52px 32px 64px;
  }
  .main__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 152px;
  }
  .main__title {
    font-size: var(--font-size-tb-lg);
  }
  .main__subtitle {
    font-size: var(--font-size-tb-md);
  }
  .footer-cta {
    background-image: url(starter-code/assets/tablet/image-footer.jpg);
    background-size: 100% 320px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color: var(--clr-bg-body);
    height: 320px;
    transform: translateY(35%);
  }
  .footer-cta::before {
    height: 320px;
  }
  .separator--footer {
    transform: translateY(-60%);
  }
}

@media (min-width: 1024px) {
  .hero-cta {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px 0;
  }

  .hero__img {
    display: none;
  }

  .hero__img--left {
    display: block;
    justify-self: start;
  }

  .hero__img--left img {
    max-width: 394px;
    height: auto;
  }

  .hero__content {
    order: 0;
    padding-top: 0;
    height: 314px;
  }

  .hero__img--right {
    display: block;
    justify-self: end;
  }

  .hero__img--right img {
    max-width: 394px;
    height: auto;
  }

  .hero__title {
    font-size: var(--font-size-xlg);
  }
  .hero__text {
    font-size: var(--font-size-md);
  }
  .hero__btn {
    flex-direction: row;
  }
  .main__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    width: 256px;
  }
  .main__title {
    font-size: var(--font-size-lg);
  }
  .main__subtitle {
    font-size: var(--font-size-md);
  }
  .footer-cta {
    background-image: url(starter-code/assets/desktop/image-footer.jpg);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }
  .footer__hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    max-width: 1110px;
    width: 100%;
    padding: 0 165px;
    position: relative;
    z-index: 2;
    margin-top: 100px;
  }
  .btn--tertiary {
    height: 56px;
    width: 193px;
  }
  .footer__title {
    width: 445px;
    text-align: left;
  }
  .footer__text {
    width: 355px;
    text-align: left;
  }
}
